fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
pydantic
langchain
langchain-core
 sentence-transformers
langchain-openai
openai
PyPDF2
langchain-huggingface
langchain_community
python-docx
unstructured
nltk
spacy
numpy
scipy
requests
aiofiles
python-dateutil
